<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-snake-newid" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>SnakePlugin</name>
    <js-module name="SnakePlugin" src="www/SnakePlugin.js">
        <clobbers target="cordova.plugins.SnakePlugin" />
        <runs /> <!--Это гарантирует, что SnakePlugin.js будет автоматически загружен и выполнен, даже если не вызывается напрямую через cordova.plugins.SnakePlugin-->
    </js-module>
    <platform name="android">
        <source-file src="src/android/SnakePlugin.java" target-dir="src/cordova/plugin/snake" />
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.VIBRATE" />
        </config-file>
         <feature name="SnakePlugin">
            <param name="android-package" value="cordova.plugin.snake.SnakePlugin" />
        </feature>
    </platform>
</plugin>
